<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div class="map-container" *ngIf="currentLocation | async">
    <agm-map
      [latitude]="(currentLocation | async).lat "
      [longitude]="(currentLocation | async).lng"
      [zoom]="16"
      [styles]="mapStyles">
      <agm-marker
        *ngFor="let station of stations; let i = index"
        [latitude]="station.coords.lat"
        [longitude]="station.coords.lng">
        <agm-info-window>
          {{ station.address }}
          <button
            (click)="searchFromStation(i)"
            block
            ion-button>Search from this station</button>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</ion-content>
